.planTitle {
  font-size: 12px;
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid darkgrey;
}

.planContainer {
  background-color: #ffff;
}
.actionContainer {
  background-color: #ffff;
  height: 150px;
  width: 100%;
}
.actionMain {
  padding: 16px;
}
.planMain {
  margin: 16px;
}
.menuContainer {
  width: 70% !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menuClass {
  display: flex;
}
.dropArrow {
  margin-top: 6px !important;
}

.mainGridContainer {
  margin-top: 20px;
}

.buttonOpen {
  float: left;
}

.convertDropdwonText {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
